<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ana-sayfa">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>AnaSayfa</ion-label>
    </ion-tab-button>
    
    <!--
    <ion-tab-button tab="scientific-calculator">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Hesap Makinesi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo-list">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>todo-list</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="memory-game">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>memory-game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="game2048">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>2048</ion-label>
    </ion-tab-button>
    -->
    
  </ion-tab-bar>

</ion-tabs>
