
<ion-header>
  <ion-toolbar>
    <ion-title>Hafıza Kartları</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="attempts" *ngIf="gameStarted && !gameEnded">
    Kalan Hak: {{ remainingAttempts }}
  </div>

  <ion-grid *ngIf="!gameEnded">
    <ion-row *ngFor="let row of rows">
      <ion-col size="3" *ngFor="let card of row">
        <ion-card [class.flipped]="card.flipped || card.matched" (click)="flipCard(card)">
          <div class="card-front">
            <img src="/assets/icon/CARDBACKSIDE.png" *ngIf="!card.flipped" />
          </div>
          <div class="card-back">
            <img src="{{card.image}}" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="end-message" *ngIf="gameEnded">
    <h3 *ngIf="matchedCards.length === cards.length">Kazandınız!</h3>
    <h3 *ngIf="matchedCards.length !== cards.length">Kaybettiniz!</h3>
    <ion-button expand="full" class="btn1" color="primary" (click)="resetGame()" *ngIf="gameEnded">
      Yeniden Oyna
    </ion-button>
  </div>

  <div class="btn-container" *ngIf="!gameEnded">
    <button class="btn2" (click)="resetGame()">Yenile</button>
  </div>
  
</ion-content>
